//body {
//  font-family: Helvetica Neue;
//}
:root {
  --bg-dark: #292834;
  --bg-light: #B9B5B5;
  --header-color-dark: #fff;
  --header-color-light: #5E5E67;
  --text-color-light: #5E5E67;
  --text-color-dark: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: var(--bg-light);
  &-title {
    font-size: 40px;
    font-weight: Bold;
    color: var(--header-color-light);
    line-height: 40px;
  }

  &-intro {
    display: flex;
    width: 50%;
  }
  &-intro p {
    align-self: flex-end;
    margin-bottom: 0;
  }
}

main.container {
  margin: 0 auto;
  position: relative;
}

.container::before {
  content: " ";
  width: 10px;
  background-color: #000;
  height: calc(100% - 25px);
  position: absolute;
  left: calc(50% - 10px);
  top: 25px;
  z-index: 9999;
}

.tl-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--bg-light);
  color: var(--text-color-light);
  position: relative;

  article {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: row;

    .article-title {
      font-weight: bold;
      font-size: 20px;
      color: var(--header-color-light);
      margin-bottom: 15px;
      &::before {
        content: " ";
        position: absolute;
        width: 30px;
        height: 30px;
        left: calc(50% - 20px);
        border-radius: 50rem;
        background-color: #000;
        vertical-align: middle;
      }
    }
    p {
      font-weight: 300;
      font-size: 14px;
      color: var(--text-color-light);
    }
    figure {
      margin-right: 20px;
    }
  }

  &:nth-child(odd) {
    background-color: var(--bg-dark);
    color: var(--text-color-dark);
    justify-content: flex-end;

    article {
      flex-direction: row-reverse;
      .article-title {
        color: var(--header-color-dark);
      }
      p {
        color: var(--text-color-dark)
      }
      figure {
        margin-right: unset;
        margin-left: 20px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 { font-size: 28px; }
}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;

    &-title {
      margin-bottom: 35px;
    }

    &-intro {
      width: 100%;
    }
  }
  .container {
    &::before {
      left: 20px;
    }
  }

  .tl-section {
    article {
      width: 100%;
      flex-direction: column-reverse;
      padding-left: 50px;
      .article-title::before {
        left: 10px;
      }
    }
    &:nth-child(odd) {
      article {
        flex-direction: column-reverse;

        figure {
          margin-left: 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

img {
  max-height: 200px;
  min-width: 200px;
  object-fit: cover;
  vertical-align: bottom;
}
